transporter/.classpath
transporter/transporter-server.log
transporter/.settings/
/target/
parent/TransporterCommon/.classpath
parent/TransporterCore/.classpath
parent/TransporterWeb/.classpath
parent/.project
parent/TransporterCommon/.project
parent/TransporterCore/.project
parent/TransporterWeb/.project
*.class
*.prefs
*.component
.settings/
*.log
/.metadata/
